
/* // Form validation */

/* #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background-color: #545B62 ;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.3s;
}  */

/* jquery crash course */

/* header {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}
#container { 
    width: 90%;
    margin: auto;
    padding: 10px;
}

.customClass
{
background-color: #333;
color: blue;
} */

.divs{
    margin: 3em auto;
    padding: 1em;
    ;
}
